 /*   ------------------------------------   */
/*   ----           SIDEBAR          ----   */

    /*   ----           SIDEBAR - LEFT SIDE          ----   */
    #sidebar_logo img {
        padding: 15px;
        width: 30px;
    }

        /*   ----           SIDEBAR LOGO - ANIMATIONS          ----   */
        #page.animated #sidebar_logo img {
            transition-timing-function: ease;
            transition-duration: var(--time_sidebar);
            transition-delay: 100ms;
            transition-property: width;
        }

        #sidebar.blocked_bigbar #sidebar_logo img, #sidebar.bigbar #sidebar_logo img {
            width: 40px;
        }

        .sidebar_menu_link_icon, .sidebar_submenu_link_icon {
            margin: 15px;
            padding: 3px;
            font-size: 24px;
        }

    #sidebar_user_photo {
        padding: 15px;
        font-size: 30px;
    }

    #sidebar_user_photo {
        padding: 15px;
        width: 30px;
    }




 /*   ------------------------------------   */
/*   ----       SIDEBAR - LOGO       ----   */
#sidebar_logo {
    height: var(--page_top);
    display: flex;
    align-items: center;
}

#page_title {
    font-size: 1.3em;
    color: var(--color_font_third)
}


    /*   ----       SIDEBAR - BLOCK BIGBAR       ----   */
    #block_sidebar {
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--color_strong_green);
        font-size: 1.3em;
        z-index: 101;
        cursor: pointer;
    }

    #page.animated #block_sidebar {
        transition-timing-function: ease;
        transition-duration: var(--time_sidebar);
        transition-delay: 100ms;
        transition-property: color, opacity;
    }

    #sidebar.bigbar #block_sidebar {
        opacity: 1;
    }

    #sidebar.blocked_bigbar #block_sidebar {
        transform: rotate(90deg);
        color: var(--color_strong_red);
        opacity: 1;
    }




 /*   ------------------------------------   */
/*   ----     SIDEBAR - MAIN MENU    ----   */
#sidebar_menu {
    padding-top: 30px;
}

#sidebar_menu i, #sidebar_menu p {
    color: var(--color_font_second);
}

#sidebar_menu span {
    color: green;
}

    /*   ----     MAIN MENU - MENU AND SUBMENU     ----   */
    .sidebar_menu_link, .sidebar_submenu_link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }




 /*   ------------------------------------   */
/*   ----      SIDEBAR - FOOTER      ----   */
#sidebar_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
